---
layout: default
---
<div class="ui divided items">
  {% for post in paginator.posts %}
    {% unless post.categories contains "hidden" %}
    <div class="item">
      <div class="content">
        <a href="{{ post.url }}" class="header">{{ post.title }}</a>
        <div class="meta">
          <span>
            {%- assign date_format = site.minima.date_format | default: "%Y / %-m / %-d" -%}
            {{ post.date | date: date_format }}
          </span>
          <a style="margin-left: 10px;" href="{{ post.url }}#disqus_thread">0 Comments</a>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          {{ post.content | strip_html | truncatewords:10}}
        </div>
      </div>
    </div>
    {% endunless %}
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
